body {
    background-color: black;
    position: relative;
    text-align: center;
}
h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
    color: blue;
}
.header {
    display: flex;
    width: 500px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}
.score_block :first-child, .score_best_value {
    color: gold;
}
.score_block :nth-child(3), .score_value {
    color: crimson;
}
.game_field {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 30px auto 0;
}
.game_over {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    top: 450px;
    text-align: center;
    margin: 0 auto;
    width: 420px;
    height: 40px;
    padding: 10px;
    color: darkgreen;
    z-index: 1;
    white-space: pre-line;
    transform: translate(-50%, -50%)
}
.field_element {
    width: 50px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    border: solid 0.5px #959494;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}
.apple_element {
    width: 50px;
    height: 50px;
    background-color: rgb(35, 235, 35);
    color: aliceblue;
    border: solid 1px #959494;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}
.snake_head_element {
    width: 50px;
    height: 50px;
    background-color: red;
    color: aliceblue;
    border: solid 1px #959494;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}
.snake_body_element {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.438);
    color: aliceblue;
    border: solid 1px #959494;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}
.input_name {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    margin: 50px auto;
}
button {
    width: 150px;
    height: 35px;
    background-color: #E3B873;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.btn_clear {
    display: block;
    width: 400px;
    margin: 20px auto 0;
}
button:hover {
    box-shadow: 10px 10px 30px 2px #c5c0c0; 
    border: none;
    cursor: pointer;
}
button:active {
    transform: translate(2px, 4px);
}
.score_block {
    display: flex;
    flex-wrap: wrap;
    font-family: "Yeseva One";
    font-size: 27px;
    font-weight: 400;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    
    width: 300px;
    height: 100px;
    margin: 20px auto;
}

                                                /* БЛОК СТИЛИЗАЦИИ ПЕРЕКЛЮЧАТЕЛЯ */

.toggle-wrapper {
    display: flex;
    background-color: blue;
    color: #e9e4e4;
    width: 300px;
    height: 40px;
    margin: 20px auto;
    padding: 0 5px;
    justify-content: space-between;
    border: solid 1px #FFFFFF;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}
#checkcross {
    width: 20px;
    height: 20px;
}
